<section class="flex flex-col items-center">
  <h1 class="text-2xl p-4 font-bold">Lista de Tareas</h1>
  <div class="w-4/5 flex mb-4">
    <div class="w-1/5 m-2">
      <input-component title="Create task">
        <form class="flex flex-col w-full max-w-xs mx-auto pt-4" method="dialog">
          <div class="flex justify-start w-full">
            <label class="font-medium">Title</label>
          </div>
          <input
            type="text"
            [(ngModel)]="taskForm().name"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Type here"
            class="input input-bordered w-full"
          />

          <div class="flex justify-start w-full mt-3">
            <label class="font-medium">Description</label>
          </div>
          <input
            type="text"
            [(ngModel)]="taskForm().description"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Type here"
            class="input input-bordered w-full"
          />

          <div class="flex justify-start w-full mt-3">
            <label class="font-medium">End Date</label>
          </div>
          <input
            type="date"
            [(ngModel)]="taskForm().endDate"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Type here"
            class="input input-bordered w-full"
          />

          <div class="flex justify-start w-full mt-3">
            <label class="font-medium"><badge-component></badge-component></label>
          </div>
          <input
            type="text"
            [(ngModel)]="taskForm().state"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Type here"
            class="input input-bordered w-full"
          />

          <button (click)="onSubmit()" class="btn btn-info w-full mt-6">Send</button>
        </form>
      </input-component>
    </div>

    @if (deleteAlert()) {
      <task-toast description="Task eliminated"></task-toast>
    }

    @if (editAlert()) {
      <task-toast description="Task edited"></task-toast>
    }

    <div class="w-4/5 m-2">
      <input class="w-full input" type="text" placeholder="Find for name or description" />
    </div>
  </div>

  <div class="w-4/5 overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
    <table class="table bg-base-300">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>End date</th>
          <th>State</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (task of tasks(); track task.id) {
          <tr>
            <th>{{ task.name }}</th>
            <td>{{ task.description }}</td>
            <td>{{ task.endDate }}</td>
            <td>{{ task.state }}</td>
            <td class="flex justify-center">
              <edit-component class="m-2" title="Edit task">
                <form class="flex flex-col w-full max-w-xs mx-auto pt-4" method="dialog">
                  <div class="flex justify-start w-full">
                    <label class="font-medium">Title</label>
                  </div>
                  <input
                    type="text"
                    [(ngModel)]="task.name"
                    [ngModelOptions]="{ standalone: true }"
                    class="input input-bordered w-full"
                  />

                  <div class="flex justify-start w-full mt-3">
                    <label class="font-medium">Description</label>
                  </div>
                  <input
                    type="text"
                    [(ngModel)]="task.description"
                    [ngModelOptions]="{ standalone: true }"
                    class="input input-bordered w-full"
                  />

                  <div class="flex justify-start w-full mt-3">
                    <label class="font-medium">End Date</label>
                  </div>
                  <input
                    type="date"
                    [(ngModel)]="task.endDate"
                    [ngModelOptions]="{ standalone: true }"
                    class="input input-bordered w-full"
                  />

                  <div class="flex justify-start w-full mt-3">
                    <label class="font-medium">State</label>
                  </div>
                  <input
                    type="text"
                    [(ngModel)]="task.state"
                    [ngModelOptions]="{ standalone: true }"
                    class="input input-bordered w-full"
                  />

                  <button (click)="editTask(task)" class="btn btn-info w-full mt-6 text-center">
                    Send
                  </button>
                </form>
              </edit-component>

              <button class="btn btn-error m-2">
                <svg
                  lucideTrash
                  (click)="deleteTask(task)"
                  class="w-4 h-6 text-white cursor-pointer"
                ></svg>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <pagination-component
      [pageNumber]="pageNumber()"
      (pageChange)="currentPage($event)"
    ></pagination-component>
  </div>
</section>
